[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
jupyter = "*"
matplotlib = "*"
rich = "*"
pandas = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
